/* 

@media (min-width:0px) and (max-width: 1000px) {

  .parent {  display: flex;
      justify-content: center;
      align-items: center;
          flex-direction: column;

    }
    

    .product {
      margin-left: 10px;
      margin-right: 10px;
    
    }
    

    
    .calculations {
    
      font-size: 20px;
      padding: "10px";
      margin-left: 10px;
      margin-right: 10px;
      background: rgba(18, 56, 87, 0.934);
      border: solid black;
      border-radius: 10px;
    
    }
    
    .calculations input {
      background-color: green;
      border: solid white;
    
    
    }

      
    }
    */
